gradle-wrapper.jar
/.gradle
/captures/
# /gradlew  - 需要提交这个文件用于CI/CD
# /gradlew.bat  - 需要提交这个文件用于Windows CI/CD
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
